# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.env/
.venv/

# OS-specific files
.DS_Store
Thumbs.db

# IPython history and log files
profile_default/
ipython_log.txt

# Dataset files
fetal_health.csv
fetal_health_balanced.csv
fetal_health_balanced_train.csv

# Model output files
*.pkl
*.joblib
*.h5
*.model

# Other temporary files
*.tmp
*.log
*.bak